<h2 style="text-align:left;">
    2237001
    <span style="float:right;">
        Jagtap Vishakha
    </span>
</h2>
<h2 align="center">SL-III (Data Science)</h2>
<h2 align="center">Assignment 06</h2>

6) Data Analytics III
1. Implement Simple Naïve Bayes classification algorithm using Python/R on iris.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on
the given dataset.

#### IMPORTING LIBRARIES

In [1]:
import pandas as pd

#### LOADING DATASET

In [4]:
df=pd.read_csv("iris.csv")

In [6]:
df.columns=('Id','sepallength','sepal_width','petal_length','petal_width','speceis')

In [7]:
df

      Id  sepallength  sepal_width  petal_length  petal_width         speceis
0      1          5.1          3.5           1.4          0.2     Iris-setosa
1      2          4.9          3.0           1.4          0.2     Iris-setosa
2      3          4.7          3.2           1.3          0.2     Iris-setosa
3      4          4.6          3.1           1.5          0.2     Iris-setosa
4      5          5.0          3.6           1.4          0.2     Iris-setosa
..   ...          ...          ...           ...          ...             ...
145  146          6.7          3.0           5.2          2.3  Iris-virginica
146  147          6.3          2.5           5.0          1.9  Iris-virginica
147  148          6.5          3.0           5.2          2.0  Iris-virginica
148  149          6.2          3.4           5.4          2.3  Iris-virginica
149  150          5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 6 columns]

In [8]:
df.isnull()

        Id  sepallength  sepal_width  petal_length  petal_width  speceis
0    False        False        False         False        False    False
1    False        False        False         False        False    False
2    False        False        False         False        False    False
3    False        False        False         False        False    False
4    False        False        False         False        False    False
..     ...          ...          ...           ...          ...      ...
145  False        False        False         False        False    False
146  False        False        False         False        False    False
147  False        False        False         False        False    False
148  False        False        False         False        False    False
149  False        False        False         False        False    False

[150 rows x 6 columns]

In [9]:
df.isnull().sum()

Id              0
sepallength     0
sepal_width     0
petal_length    0
petal_width     0
speceis         0
dtype: int64

#### SPLITTING DATASET INTO X & Y

In [13]:
X = df.iloc[:,:4].values
y = df['speceis'].values

#### SPLITTING DATASET INTO TRAIN AND TEST

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#### GAUSSIANNB

In [15]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

#### PREDICTION

In [16]:
y_pred = classifier.predict(X_test) 
y_pred

array(['Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype='<U15')

<h3>Confusion Matrix</h3>
<p>Confusion matrices represent counts from predicted and actual values. The output “TN” stands for True Negative which shows the number of negative examples classified accurately. Similarly, “TP” stands for True Positive which indicates the number of positive examples classified accurately. The term “FP” shows False Positive value, i.e., the number of actual negative examples classified as positive; and “FN” means a False Negative value which is the number of actual positive examples classified as negative.</p>
<img src="1.jpg">

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[ 9  0  0]
 [ 0  8  0]
 [ 0  1 12]]

<h3>Accuracy</h3>
<p>What percentage of our predictions are right.</p>
<img src="2.jpg" height="80" width="300">

In [18]:
from sklearn.metrics import accuracy_score
Accuracy = accuracy_score(y_test, y_pred)
print("Accuracy : ", Accuracy)

Accuracy :  0.9666666666666667

<h3>Error Rate</h3>
<p>What percentage of our prediction are wrong.</p>
<p><center><b><i> Error Rate</i> = 1 - Accuracy</b></center></p>

In [19]:
error = 1-Accuracy
print("Error Rate : ", error)

Error Rate :  0.033333333333333326

<h3>Precision</h3>
<p>Out of all the positive predicted, what percentage is truly positive.</p>
<p>Precision value lies between 0 and 1.</p>
<img src="3.jpg" height="80" width="300">

In [20]:
from sklearn.metrics import precision_score
print("Precision : ", precision_score(y_test, y_pred, average='micro'))

Precision :  0.9666666666666667

<h3>Recall</h3>
<p>Out of the total positive, what percentage are predicted positive. It is the same as TPR (true positive rate).</p>
<img src="4.jpg" height="80" width="300">

In [21]:
from sklearn.metrics import recall_score
print("Recall : ", recall_score(y_test, y_pred, average='micro'))

Recall :  0.9666666666666667